html {
	box-sizing: border-box;
}

*,
*::after,
*::before {
	box-sizing: inherit;
}

a {
	color: inherit;
	text-decoration: none;
}

button {
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;
}

ul {
	list-style: none;
}

body {
	font-family: 'Inter', sans-serif;
	font-size: 16px;
	color: #000;
	font-weight: 500;
	line-height: 1.2;
}

.container {
	max-width: 1220px;
	padding: 0 10px;
	margin: 0 auto;
}

.main__title {
	color: #000;
	font-size: 64px;
	font-weight: 700;
	margin-bottom: 20px;
}
